body{
    background-image: url("img/bg.png");
    margin: 0%;
}

header{
    background-color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

header h1{
    font-variant: small-caps;
    font-size: 25pt;
}

header h2{
    font-family: serif;
    letter-spacing: 2pt;
    font-weight: 100;
}

#indice{
    width: 100%;
    background-color: black;
    color: white;
}

#indice ul{
    margin: 0;
    padding: 1%;
    text-align: center;
}

#indice ul li{
    display: inline;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

#indice a{
    color: white;
    text-decoration: none;
    font-size: 10pt;
}

.galeria{
    padding: 1%;
    width: 20%;
    box-sizing: border-box;
    float: right
}

.galeria figure, img{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
}

.principal{
    /*margin-top: 1%;*/
    /*margin-bottom: 5%;*/
    padding: 5%;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}

.principal{
    padding: 5%;
    text-align: justify;
}

.principal h1{
    font-size: 18pt;
    padding-top: 0;
}

.principal figure{
    width: 40%;
    padding-left: 0;
    padding-right: 0;
    float: right;

}

.principal img{
    width: 100%;
}

.principal  article{
    border-bottom: grey solid 2px;
}


.cita{

    background-color: rgba(0,0,0,255);
    opacity: 70%;
    padding: 3%;
    color: white;
    text-align: center;
    font-style: oblique;
    width: 100%;
    box-sizing: border-box;
}

.cita h2:before{
    content: "\0022";
    font-size: 30pt;
    color: red;
}

.cita h2:after{
    content: "\0022";
    font-size: 30pt;
    color: red;
}

.cita h2{
    font-size: 15pt;
    font-weight: 900;
}
.cita h5{
    font-weight: 10;
}

#tabla{

    text-align: center;

}

#tabla table{
    border-collapse: collapse;
    margin: 0px auto;
    width: 80%;

}

#tabla table th{
    padding: 1.5%;
}

#tabla table td{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1%;
    vertical-align: middle;
    border: 1px solid #ddd;
}

#tabla table tr:first-child{
    background-color: black;
    color: white;
    font-size: 12pt;
}

.primero{
    background-color: #E2D815;
}

.segundo{
    background-color: #C0BCB8;
}

.tercero{
    background-color: #BF7732;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
    position: relative;
    clear: both;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;
    letter-spacing: 5pt;
}

footer a{
    color: red;
}

.contenido{
    width: 70%;
    margin-top: 1%;
    margin-bottom: 5%;
    
    width: 70%;
    background-color: white;
    box-sizing: border-box;
    display: inline-block;
    background-color: transparent;
}



